body {
    display: block;
    height: 100%;
    text-align: center;
    background: rgb(255,191,246);
    background: radial-gradient(circle, rgba(255,191,246,1) 0%, rgba(27,28,78,1) 100%);
    font-family: 'Josefin Sans', sans-serif;
}

header a {
    color: white;
    text-decoration: underline;
}
header {
    color: white;
}

h1 {
    margin-top: 15%;
    margin-bottom: 3%;
    font-size: 2.7rem;
    color: white;
    text-shadow: rgb(168, 17, 143) 1px 0 10px;
    letter-spacing: 0.5rem;
}

@media only screen and (max-width: 480px) {
  h1 {
    margin-top: 30%;
    margin-bottom: 20%;
    letter-spacing: 0;
    font-size: 2rem;
  }


}

.button{
    position: relative;
    display: inline-block;
    margin-bottom: 16%;
  }
  
  .button a{
    color: white;
    font-family: 'Sono', sans-serif;
    font-weight: bold;
    font-size: 1.8rem;
    text-align: center;
    text-decoration: none;
    background-color: #e981ca;
    display: block;
    position: relative;
    padding: 1.25rem 2.5rem;
    
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    text-shadow: 0px 1px 0px #000;
    filter: dropshadow(color=#000, offx=0px, offy=1px);
    
    -webkit-box-shadow: inset 0 1px 0 #FFE5C4, 0 0.625rem 0 #910066;
    -moz-box-shadow: inset 0 1px 0 #FFE5C4, 0 0.625rem 0 #910066;
    box-shadow: inset 0 1px 0 #FFE5C4, 0 0.625rem 0 #910066;
    
    -webkit-border-radius: 0.3125rem;
    -moz-border-radius: 0.3125rem;
    border-radius: 0.3125rem;
  }
  
  .button a:active{
    top: 10px;
    background-color: #e981ca;
    
    -webkit-box-shadow: inset 0 1px 0 #FFE5C4, inset 0 -0.1875rem 0 #910066;
    -moz-box-shadow: inset 0 1px 0 #FFE5C4, inset 0 -0.1875rem 0 #910066;
    box-shadow: inset 0 1px 0 #FFE5C4, inset 0 -0.1875rem 0 #910066;
  }
  
  .button:after{
    content: "";
    height: 100%;
    width: 100%;
    padding: 0.25rem;
    position: absolute;
    bottom: -1rem;
    left: -0.25rem;
    z-index: -1;
    background-color: #2B1800;
    -webkit-border-radius: 0.3125rem;
    -moz-border-radius: 0.3125rem;
    border-radius: 0.3125rem;
  }

  .goback {
    font-size: 1.2rem;
    color: white;
  }

  .goback:hover {
    text-decoration: none;
  }


  main p {
    margin-top: 4%;
  }

  h2 {
    margin-top: 5%;
    font-size: 2rem;
    color: white;
    text-shadow: #9a044a 1px 0 20px;
  }